/* All Css Here */
@import "~bootstrap/dist/css/bootstrap.min.css";

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@import "../public/assets/css/plugins.css";
@import "../public/assets/scss/3dtransform.css";
@import "../public/assets/scss/style.css";

/* Portfolio */
@import "../public/assets/css/portfolio/style.css";
a {
	color: var(--main-bg-color);
	text-decoration: none;
}
.nav-logo {
	color: #ffffff;
	font-size: 2em;
	font-weight: 800;
}

.particles-js {
	background-image: url("../public/assets/images/bg/bg-image-2.jpg");
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
	margin: 0;
	opacity: 0.1;
}

.recent-projects {
	text-align: center;
	font-weight: 100;
	font-size: 1em;
	letter-spacing: 1em;
	margin-bottom: 4em;
}
#experience {
	display: flex;
	justify-content: space-around;
	margin-top: 15px;
}
.button-color {
	background-color: rgb(209, 206, 206);
	border-color: none;
}
.container-portfolio {
	padding-top: 2em;
	margin-top: 8em;
}
.project-header h4 {
	color: #ffffff;
}

.project-content p {
	text-align: center;
}

.box-shadow {
	-webkit-box-shadow: 9px 10px 5px -4px rgba(0, 0, 0, 0.24);
	-moz-box-shadow: 9px 10px 5px -4px rgba(0, 0, 0, 0.24);
	box-shadow: 9px 10px 5px -4px rgba(0, 0, 0, 0.24);
	border-radius: 2%;
}
/* Modals */
.recent-project-modal {
	margin: 2em auto 3em auto;
	display: block;
}
.banner-rider {
	font-size: 1.4em;
	margin-top: 0;
}
@media only screen and (min-width: 600px) {
	.banner-product-image {
		margin-top: 0;
	}
	.slider-area.horizontal {
		height: 500px;
	}
}

@media only screen and (min-width: 992px) {
	.banner-product-image {
		margin-top: 34%;
	}
	.slider-area.horizontal {
		height: 1000px;
	}
}

#node {
	background-color: #339933;
}

#node h4 {
	text-transform: capitalize;
}

#css {
	background-color: #d84f6c;
}

#html {
	background-color: #1572b6;
}

.contact-inner {
	display: flex;
	justify-content: space-between;
}
